
<%- include('../partials/head') %>
<div id="grid">
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <div id="about1">
    <h1>Our arrangements are custom designed specially for YOU & YOUR’S.</h1><br>
    <img src="/public/images/Bouquet7.jpg" alt="Image 1"><br>
    <h2>Our Story</h2>
    <p>Isabellas's Florist has been in business for over 35 years. As having a floral 
      experience for over 25 years prior to this I have a very pleasant 
      experiences with all the new and old customers. <br><br>
      Having a very unique and special circumstances we enjoyed every moments 
      of daily orders chats and laughs.<br><br>
      We’re very thankful to our long time customers for continued support all along.<br><br>
      Today our business is thriving for over years of serving our long supporting customers. <br><br>
      We are here to accommodate each and every customers choice and budget.<br><br>
      Best to all our viewers.<br>
    </p>
    <img src="/public/images/Bouquet8.jpg" alt="Image 1"><br>
    <p>While visiting our exquisite shop, you are sure to find fast, friendly 
      and helpful service. <br><br>Whether it be for your special wedding day, the 
      loss of a loved one, a corporate event, or just a few stems to say "I'm 
      thinking about you", the sales staff and experienced designers at 
      Isabella's Florist will take the time to customize the perfect bouquet 
      or arrangement.
    </p>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/messenger') %>
</div>



