
<%- include('../partials/head') %>
<div id="grid">
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <div id="contact1">
    <h2>OUR HOURS</h2>
    <p>Mon: 9:00 am to 5:00 pm    Tues: 9:00 am to 5:00 pm<br>
      Wed: 9:00 am to 5:00 pm    Thurs: 9:00 am to 6:00 pm<br>
      Fri: 9:00 am to 6:00 pm    Sat: 9:00 am to 4:00 pm<br>
      sun: 11:00 am to 4:00 pm<br><br><br>
      199 Queens Ave. London, ON N6A 1J1<br><br>
      519 - 701-0101
    </p><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
      1d2918.6719351035067!2d-81.25086858459316!3d42.98518390338642!2m3!1f0!2f0!
      3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef2032cdb5087%3A0x95a4fe45718456f9!
      2s199%20Queens%20Ave%2C%20London%2C%20ON%20N6A%201J1!5e0!3m2!1sen!2sca!
      4v1660428738867!5m2!1sen!2sca" width="600" height="450" style="border:0;" 
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/messenger') %>
</div>


