
<%- include('../partials/head') %>
<div id="grid">
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <div id="gallery1">
    <h1>Best Florist in London, Ontario</h1>
    <h2>Hand-Tied Bouquets</h2>
    <div class="imgGallery">
      <img src="/public/images/htCotton.jpg" alt="Image 1">
      <h3>Cotton Bouquet</h3>
      <h4>$ 50.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/htGerbera.jpg" alt="Image 1">
      <h3>Gerbera Bouquet</h3>
      <h4>$ 40.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/htMostly.jpg" alt="Image 1">
      <h3>Mostly Mauve</h3>
      <h4>$ 45.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/htPastel.jpg" alt="Image 1">
      <h3>Pastel Bouquet</h3>
      <h4>$ 45.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/htPastel2.jpg" alt="Image 1">
      <h3>Pastel Palette</h3>
      <h4>$ 45.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/htPresent.jpg" alt="Image 1">
      <h3>Presentation Bouquet</h3>
      <h4>$ 55.00</h4>
    </div>
  </div>
  <div id="gallery2">
    <h2>ARRANGEMENTS</h2>
    <div class="imgGallery">
      <img src="/public/images/arBohemian.jpg" alt="Image 1">
      <h3>Bohemian Arrangement</h3>
      <h4>$ 85.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/arCandy.jpg" alt="Image 1">
      <h3>Candy Kisses</h3>
      <h4>$ 175.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/arFlamingo.jpg" alt="Image 1">
      <h3>Flamingo</h3>
      <h4>$ 65.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/arParadise.jpg" alt="Image 1">
      <h3>Paradise</h3>
      <h4>$ 85.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/arPetite.jpg" alt="Image 1">
      <h3>Petite Pastel</h3>
      <h4>$ 35.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/arPretty.jpg" alt="Image 1">
      <h3>Pretty in Pink</h3>
      <h4>$ 65.00</h4>
    </div>
  </div>
  <div id="gallery3">
    <h2>ROSES</h2>
    <div class="imgGallery">
      <img src="/public/images/rsCandy.jpg" alt="Image 1">
      <h3>Candy Kisses</h3>
      <h4>$ 175.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/rsFairytale.jpg" alt="Image 1">
      <h3>Fairytale of Love</h3>
      <h4>$ 75.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/rsLuxurious.jpg" alt="Image 1">
      <h3>Luxurious Love</h3>
      <h4>$ 450.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/rsClassic.jpg" alt="Image 1">
      <h3>Classic Rose Arrangement</h3>
      <h4>$ 75.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/rsHeart.jpg" alt="Image 1">
      <h3>Heart Breaker Bouquet</h3>
      <h4>$ 65.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/rsHat.jpg" alt="Image 1">
      <h3>Hat Rose Box Arrangement</h3>
      <h4>$ 50.00</h4>
    </div>
  </div> 
  <div id="gallery4">
    <h2>ORCHIDS & PLANTS</h2>
    <div class="imgGallery">
      <img src="/public/images/opAssorted.jpg" alt="Image 1">
      <h3>Assorted Double Stem Orchid</h3>
      <h4>$ 59.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/opAssorted2.jpg" alt="Image 1">
      <h3>Assorted Single Stem Orchid</h3>
      <h4>$ 39.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/opAnthurium.jpg" alt="Image 1">
      <h3>Anthurium Plant</h3>
      <h4>$ 25.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/opBegonia.jpg" alt="Image 1">
      <h3>Begonia Plant</h3>
      <h4>$ 15.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/opKalanchoe.jpg" alt="Image 1">
      <h3>Kalanchoe Plant</h3>
      <h4>$ 15.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/opMixed.jpg" alt="Image 1">
      <h3>Mixed Indoor Plant</h3>
      <h4>$ 75.00</h4>
    </div>
  </div>
  <div id="gallery5">
    <h2>BULK FLOWERS</h2>
    <div class="imgGallery">
      <img src="/public/images/blBulk.jpg" alt="Image 1">
      <h3>Bulk Baby Blue Eucalyptus</h3>
      <h4>$ 35.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/blBulk2.jpg" alt="Image 1">
      <h3>Bulk Baby's Breath</h3>
      <h4>$ 35.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/blBulk3.jpg" alt="Image 1">
      <h3>Bulk Boxwood</h3>
      <h4>$ 20.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/blBulk4.jpg" alt="Image 1">
      <h3>Bulk Carnations</h3>
      <h4>$ 25.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/blBulk5.jpg" alt="Image 1">
      <h3>Bulk Gerberas</h3>
      <h4>$ 54.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/blBulk6.jpg" alt="Image 1">
      <h3>Bulk Hydrangea</h3>
      <h4>$ 30.00</h4>
    </div>
  </div>
  <div id="gallery6">
    <h2>WEDDINGS</h2>
    <div class="imgGallery">
      <img src="/public/images/wedding1.jpg" alt="Image 1">
      <h3>DIY Wedding</h3>
    </div>
    <div class="imgGallery">
      <img src="/public/images/wedding2.jpg" alt="Image 1">
      <h3>Custom Wedding</h3>
    </div>
  </div>
  <div id="gallery7">
    <h2>SYMPATHY & FUNERAL</h2>
    <div class="imgGallery">
      <img src="/public/images/sfWhite1.jpg" alt="Image 1">
      <h3>White Funeral Wreath</h3>
      <h4>$ 175.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/sfWhite2.jpg" alt="Image 1">
      <h3>White Standing Spray</h3>
      <h4>$ 175.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/sfWhite3.jpg" alt="Image 1">
      <h3>White Casket Spray</h3>
      <h4>$ 275.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/sfWhite4.jpg" alt="Image 1">
      <h3>White Altar Arrangement</h3>
      <h4>$ 145.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/sfWhite5.jpg" alt="Image 1">
      <h3>Red & White Funeral Wreath</h3>
      <h4>$ 175.00</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/sfWhite6.jpg" alt="Image 1">
      <h3>Red & White Standing Spray</h3>
      <h4>$ 175.00</h4>
    </div>
  </div>
  <div id="gallery8">
    <h2>FLOWER SUBSCRIPTION</h2>
    <div class="imgGallery">
      <img src="/public/images/scDesigner1.jpg" alt="Image 1">
      <h3>Designer’s Choice Hand-tied Bouquet Subscription</h3>
      <h4>FROM: $45.00 / month for 6 months</h4>
    </div>
    <div class="imgGallery">
      <img src="/public/images/scDesigner2.jpg" alt="Image 1">
      <h3>Designer’s Choice Vase Arrangement Subscription</h3>
      <h4>FROM: $55.00 / month for 6 months</h4>
    </div>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/messenger') %>
</div>


