
<%- include('../partials/head') %>
<div id="grid">
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <div id="section1">
    <div class="imgSection1 fade">
      <img src="/public/images/Bouquet6.jpg" alt="Image 1">
        <h1>Happy Birthday</h1>
        <h3>See Our Collection</h3>
    </div>
    <div class="imgSection1 fade">
      <img src="/public/images/Bouquet2.jpg" alt="Image 2">
      <h1>Get Well</h1>
      <h3>See Our Collection</h3>
    </div>
    <div class="imgSection1 fade">
      <img src="/public/images/Bouquet5.jpg" alt="Image 3">
      <h1>Anniversary</h1>
      <h3>See Our Anniversary Collection</h3>
    </div>
    <div class="imgSection1 fade">
      <img src="/public/images/Bouquet4.jpg" alt="Image 4">
      <h1>Fresh Cut Flowers</h1>
      <h3>See Our Collection</h3>
    </div>
  </div>
  <div id="section2">
    <h1>BEST FLORIST IN LONDON, ONTARIO</h1>
    <p>At Isabella’s Flowers, we deliver fresh flowers and gifts to London area 
      for any occasion, including wedding anniversaries, birthdays, 
      mother’s day, valentine’s day and so much more. With a large selection of 
      floral bouquets and arrangements, you’re sure to find one that is just 
      right for your needs.</p>
    <div class="imgSection2">
      <a href="/" title="Image 1">
      <img src="/public/images/flowers1.jpg" alt="Image 1"></a>
      <h3>Hand-Tied Bouquets</h3>
    </div>
    <div class="imgSection2">
      <img src="/public/images/flowers2.jpg" alt="Image 1">
      <h3>Arrangements</h3>
    </div>
    <div class="imgSection2">
      <img src="/public/images/flowers3.jpg" alt="Image 1">
      <h3>Roses</h3>
    </div>
    <div class="imgSection2">
      <img src="/public/images/flowers4.jpg" alt="Image 1">
      <h3>Orchids & Plants</h3>
    </div>
    <div class="imgSection2">
      <img src="/public/images/flowers5.jpg" alt="Image 1">
      <h3>Weddings</h3>
    </div>
    <div class="imgSection2">
      <img src="/public/images/flowers6.jpg" alt="Image 1">
      <h3>Sympathy & Funeral</h3>
    </div>
  </div>
  <div id="section3">
    <img src="/public/images/deliver.png" alt="delivered">
    <h1>HAND DELIVERED</h1>
    <p>Order online and our delivery vehicles will hand deliver 
      your flowers to your door!
    </p>
  </div>
  <div id="section4">
    <img src="/public/images/fresh.png" alt="delivered">
    <h1>GUARANTEED FRESH</h1>
    <p>We order our flowers at least 3 times a week to ensure 
      you get a fresh bouquet, every time!
    </p>
  </div>
  <div id="section5">
    <img src="/public/images/local.png" alt="delivered">
    <h1>SUPPORTING LOCAL BUSINESSES</h1>
    <p>All our food options are from local businesses in the 
      City area.
    </p>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/messenger') %>
</div>


